{% for each in interfaces %}
  interface {{ each.name }}
    description {{ each.description }}
    ip address {{ each.ip_address }}{{ each.subnet_mask }}
    ipv6 address {{ each.ipv6_address }}
{{% if each.ipv6_enable %}}
    ipv6 enable
{% endif %}
{% endfor %}

